<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net40" />
  <package id="Autofac.Configuration" version="3.3.0" targetFramework="net40" />
  <package id="BCrypt" version="1.0.0.0" targetFramework="net461" />
  <package id="Humanizer" version="1.35.0" targetFramework="net40" />
  <package id="NBuilder" version="5.0.0" targetFramework="net40" />
  <package id="Npgsql" version="2.2.3" targetFramework="net40" />
</packages>